* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Alkatra', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
}

body {
    background-color: darkcyan;
    color: whitesmoke;
}

.container {
    width: 100%;
    height: 100vh;
}

.container2 {
    display: flex;
    justify-content: space-around;
}

.choices {
    display: flex;
    justify-content: space-around;
}

.mainHead {
    font-size: 4rem;
}

.heading {
    font-size: 3rem;
}

.choose {
    cursor: pointer;
}

.result {
    text-align: center;
    font-size: 3rem;
    margin-top: 80px;
}

.again {
    text-align: center;
    cursor: pointer;
    font-size: 3rem;
    margin-top: 160px;
}

.icons {
    font-size: 20rem;
    line-height: 1.5;
}

.icon {
    font-size: 18rem;
    line-height: 1.5;
}

.hide {
    display: none;
}

/* Media queries */

@media screen and (max-width: 1000px) {
    .mainHead {
        font-size: 3rem;
    }

    .heading {
        font-size: 2.5rem;
    }

    .icons {
        font-size: 15rem;
    }

    .result {
        font-size: 2rem;
        margin-top: 40px;
    }

    .again {
        font-size: 2rem;
        margin-top: 80px;
    }
}

@media screen and (max-width: 900px) {
    .icon {
        font-size: 12rem;
    }
}

@media screen and (max-width: 700px) {
    .mainHead {
        font-size: 2.6rem;
    }

    .heading {
        font-size: 2rem;
    }

    .result {
        font-size: 2rem;
        margin-top: 60px;
    }

    .again {
        font-size: 2rem;
        margin-top: 100px;
    }
}

@media screen and (max-width: 600px) {
    .mainHead {
        font-size: 1.7rem;
    }

    .heading {
        font-size: 1.5rem;
    }

    .icon {
        font-size: 8rem;
    }

    .icons {
        font-size: 10rem;
    }
    
    .result {
        font-size: 1.7rem;
        margin-top: 0;
    }

    .again {
        font-size: 1.7rem;
        margin-top: 20px;
    }

    .container2 {
        display: flex;
        flex-direction: column;
    }

    .choices {
        flex-direction: column;
    }
}